body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.comparisonLine {
  fill: none;
  stroke: #ff8c00;
  stroke-width: 1.5px;
}

.aggregateLine {
  fill: none;
  stroke: #ff7777;
  stroke-width: 1.5px;
  opacity: 0.1;
}